<!DOCTYPE html>
<html>
<head>
  <title>Hello World DApp</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./public/styles/votingPage.css">
</head>
<body class="container">
  <h1 id="votingPageTitle">Welcome to Canada Election's Online Portal!</h1>
	<h2>Hello, you.</h2>
	<div class="parentDisable"></div>
	<div id="vote-confirm-popup">
		<h3>You have chosen to vote for <span class="vote-for-candidate">oinds</span>.</h3>
		<button class="button submit-ballot-confirm">Yes, I confirm my vote.</button>
		<button class="button submit-ballot-no">No, I want to choose another.</button>
	</div>
  <div id="candidate-button-collection">
    <button class="button btn-vote-choice button1">Green Party</button>
    <button class="button btn-vote-choice button2">Conservative</button>
    <button class="button btn-vote-choice button3">Liberal</button>
    <button class="button btn-vote-choice button4">NDP</button>
    <button class="button btn-vote-choice button5">Bloc-Qu&eacute;b&eacute;cois</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Votes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Green Party</td>
          <td id="candidate-0"></td>
        </tr>
        <tr>
          <td>Conservative</td>
          <td id="candidate-1"></td>
        </tr>
        <tr>
          <td>Liberal</td>
          <td id="candidate-2"></td>
        </tr>
        <tr>
          <td>NDP</td>
          <td id="candidate-3"></td>
        </tr>
        <tr>
          <td>Bloc-Qu&eacute;b&eacute;cois</td>
          <td id="candidate-4"></td>
        </tr>
      </tbody>
    </table>
  </div>

	<form action="/setuserinfo/firstname" method="POST">
	<input type="text" id="fname" value="soindif">
	<input type="submit">
	</form>

	<form class="submission-form" action="/submit" method="POST">
		<input type="hidden" id="ballot" name="ballot">
	</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./public/interface.js"></script>
</html>